* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#050533;
}
body{
    background-color: #E8EEF1;
}
H1 {
  color: #050533;
  font-size:40px;
}

H2 {
  margin-bottom: 1.5em;
    color: #050533;
}

H3 {
  color: #050533;
  justify-content: center;
}

H4 {
  color:#0D698B;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

h5 {
  margin-bottom: 0.5em;
}

.sidebyside {
  display: flex;
}

.basic-container {
  display: flex;
}

.basic-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #F2F1E8;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.one.column,
 .one.columns                    { width: 8%;             }
 .two.columns                    { width: 16.25%;         }
 .three.columns                  { width: 22%;            }
 .four.columns                   { width: 33%;            }
 .five.columns                   { width: 39.3333333333%; }
 .six.columns                    { width: 49.75%;          }
 .seven.columns                  { width: 56.6666666667%; }
 .eight.columns                  { width: 66.5%;          }
 .nine.columns                   { width: 74.0%;          }
 .ten.columns                    { width: 82.6666666667%; }
 .eleven.columns                 { width: 91.5%; }
 .twelve.columns                 { width: 100%; margin-left: 0; }


 .pretty-container {
   border-radius: 20px;
   background-color: #7E9DC2;
   margin: 10px;
   padding: 15px;
   position: relative;
   box-shadow: 2px 2px 2px lightgrey;
 }

.filter {
  margin-bottom: -1em;
}

iframe {
 border: 0;
}

button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  background-color: #E34234;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
